.menu-btn {
  position: absolute;
  z-index: 7;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      height: 5px;
      &:nth-child(1) {
        background-color: $secondary-color;
        transform: rotate(45deg) translate(7px, 7px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        background-color: $secondary-color;
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}
