@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
    text-align: right;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    text-align: right;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
.about-info {
  display: grid;
  grid-gap: 5px;

  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: #fff 3px solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.2rem;
    border: 3px #fff solid;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      border-color: $secondary-color;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  size: 1.5rem;
  font-weight: bold;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
  text-align: center;
  text-decoration: none;
}

#main-footer {
  text-align: center;
  padding: 5px;
  margin: auto;
  background: darken($primary-color, $amount: 10);
  color: set-text-color($primary-color);
  height: 70px;
}
#main-footer p {
  margin: 0 auto;
}

.icons {
  margin: 0;

  a {
    padding: 0.4rem;
    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}
// about img
.responsive {
  float: left;
  width: 100%;
  max-width: 250px;
  height: auto;
}

#art {
  height: 25vw;
  padding: 5px;
  background-image: url(../assets/img/khane.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#art-text {
  background-color: rgba(17, 17, 11, 0.5);
  font-size: 1.5rem;
  padding-top: 5%;
  margin-top: 10px;
}
.op {
  color: rgb(255, 255, 255);
  padding: 25px;
}
.carousel-caption {
  background-color: rgba(17, 17, 11, 0.5);
  padding: 25px;
  border-radius: 10px;
}

//////// animation
#pointer {
  margin: -5px 0 0 15px;
  animation: yourAnimation 2s infinite 0s ease-in-out;
}

@keyframes yourAnimation {
  0% {
    transform: rotate(0) translateY(-1%);
    opacity: 0.1;
  }

  25% {
    transform: rotate(5deg) translateY(0);
    opacity: 0.5;
  }

  50% {
    transform: rotate(0deg) translateY(-1%);
    opacity: 1;
  }

  75% {
    transform: rotate(5deg) translateY(0);
    opacity: 0.5;
  }

  100% {
    transform: rotate(4deg) translateY(-1%);
    opacity: 0.3;
  }
}

@import 'mobile';
